.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -4.5rem;
  margin-bottom: 1rem;
  width: 106px;
  height: 106px;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.carousel-item {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card {
  margin: 10px;
  margin-bottom: 30px;
  padding-bottom: 6px;
  border-radius: 12px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
}

h2 {
  padding-bottom: 40px;
}

.homebutton {
  margin: 20px;
}

.badge {
  background-color: rgb(59, 59, 201);
  margin: 4px;
  border-radius: 32px;
}

.btn {
  width: 260px;
  background-color: rgb(59, 59, 201);
  border-color: rgb(59, 59, 201);
  border-radius: 32px;
  padding: 6px;
}

.btn:hover {
  background-color: rgb(14, 14, 40);
  color: white;
  border-color: rgb(14, 14, 40);
}

.btn-outline-info,
.btn-info {
  width: 100px;
  background-color: white;
  border-color: rgb(59, 59, 201);
  color: rgb(59, 59, 201);
  margin: 6px;
}

.btn-outline-info:hover {
  background-color: rgb(59, 59, 201);
  color: white;
  border: 0;
}

h1, h2 {
  font-family: "Archivo Black", "Sans-serif";
}

h3 {
  font-family: "DM Sans", "Sans-serif";
}

.title-banner {
  margin-bottom: 26px;
}

.title-banner-middle {
  margin-bottom: 80px;
}

form {
  margin-top: 20px;
}

.home-info {
  margin-top: 80px;
}
